<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello Django</title>
</head>
<body>
<div style="margin:10px 0 0 40%;">
    <div><h1>数据：</h1><div><a href="/userCreate">新建</a> </div></div>
    <table border="1px solid #fff;">
    <thead>
        <tr>
            <td>序号</td>
            <td>姓名</td>
            <td>年龄</td>
            <td>描述</td>
            <td>操作</td>
        </tr>
    </thead>
        {% for i in list %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ i.name }}</td>
                <td>{{ i.age }}</td>
                <td>{{ i.description }}</td>
                <td>
                    <a href="/userDelete?id={{ i.id }}">删除</a>
                    <a href="/userCreate?type=2&id={{ i.id }}">查看</a>
                    <a href="/userCreate?type=1&id={{ i.id }}">更新</a>
                </td>
            </tr>
        {% endfor %}
    </table>
</div>
</body>
</html>